<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
        <table>
            <tr>
                <th rowspan="1"><h1>mijn favoriete games (epic)</h1></th>
            </tr>
            <tr>
                <td> {{games[0].naam}} </td>
                <td><img src="{{games[0].plaatje}}" alt="" width="100"> </td>
            </tr>
            <tr>
                <td> {{games[1].naam}} </td>
                <td><img src="{{games[1].plaatje}}" alt="" width="100"> </td>
            </tr>
            <tr>
                <td> {{games[2].naam}} </td>
               <td><img src="{{games[2].plaatje}}" alt="" width="100"> </td>
            </tr>
        </table>
    </body>
</html>
