<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <title>quiz</title>
    </head>
    <body>
        <h1>SuPEr CoOlE qUiZ</h1>
        <form action="/verwerk" method="post">
            <div>
                <label for="hoofdstad">Wat is de hoofdstad van Zweden?</label>
                <input type="text" name="hoofdstad" id="hoofdstad" placeholder="stad">
            </div>
            <div>
                <label for="inch">Hoeveel centimeter is een inch?</label>
                <input type="radio" name="inch" id="inch" value="3,22"> 3,22 cm <br>
                <input type="radio" name="inch" id="inch" value="2,54"> 2,54 cm <br>
                <input type="radio" name="inch" id="inch" value="2,56"> 2,56 cm
            </div>
            <div>
                <label for="dippje">Met welke van de volgende dingen kan je (lekker) dippen?</label>
                <input type="checkbox" name="dippje" id="dippje" value="komkommer"> Komkommer <br>
                <input type="checkbox" name="dippje" id="dippje" value="chipje"> Chipje <br>
                <input type="checkbox" name="dippje" id="dippje" value="stick"> Stick
            </div>
            <div>
                <label for="belevenis">Hoe voelde je tijdens het maken van deze quiz?</label>
                <textarea rows="4" cols="50" id="belevenis" placeholder="Ik voelde mij..."></textarea>
            </div>
            <div>
                <input type="submit" name="lever in" value="lever in">
            </div>
        </form>
    </body>
</html>
